.header {
  background: #cce4f7;

  height: 3.5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    .search {
      display: flex;
      align-items: center;
      height: 35px;
      max-width: 250px;
      background-color: #f4f7fc8c;
      border-radius: 20px;

      input[type='text'] {
        height: 20px;
        padding-left: 5px;
        background-color: #f4f7fc00;
      }

      svg {
        width: 20px !important;
        height: 20px !important;
        color: gray;
        margin: 0 10px;
      }
    }

    .logo {
      font-family: 'Dela Gothic One';
      font-size: 25px;
    }

    .nav-menu {
      height: 100%;
      display: flex;
      align-items: center;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      font-size: 20px;

      ul {
        display: flex;
        height: 100%;
        align-items: center;
        align-items: center;

        li {
          height: 100%;

          a {
            height: 100%;
            display: inline-flex;
            align-items: center;
            padding: 0 5px;
            height: inherit;
            transition: background 0.1s linear;

            &.active {
              background-color: #fff;
            }

            &:hover {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
