.single-wrapper {
  padding: 1rem 2rem;
  margin-top: 2rem !important;
  background-color: #fff;
  border-radius: 15px;

  .top-single {
    display: flex;
    justify-content: space-between;
    .present {
      padding: 0 50px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      div {
        height: auto;
        width: auto;
      }
    }
    & .img-single {
      position: relative;
      overflow: hidden;
      height: 500px;
      width: 300px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.5);
      img {
        position: absolute;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .level {
    width: 100%;
    height: 2px;
    background: rgb(226, 226, 226);
    border-radius: 30px;
    margin-top: 2rem;
  }

  .body-single {
    padding: 2rem 3rem 0;
    .staff {
      display: flex;
      flex-direction: column;
      .staff-block {
        font-weight: bold;
        font-size: 20px;
        .staff-text {
          font-weight: 500;
          margin-left: 5px;
          font-size: 17px;
        }
      }
    }

    .actors {
      margin-top: 25px;
      .span-actors {
        font-size: 25px;
      }
      .actors-block {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-top: 5px;

        .actors-card {
          width: 150px;
          // margin-right: 10px;

          .img {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 200px;
            border-radius: 10px 10px 0 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 0 10;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          .actor-name {
            font-weight: 600;
            font-size: 20px;
            width: 100%;

            background-color: #bd95ed1c;
            border-radius: 0 0 10px 10px;
            margin: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
          }
          #sub-name {
            font-weight: normal;
            font-size: 15px;
          }
        }
      }
    }
  }
  .bottom {
    margin-top: 2rem;

    span {
      font-weight: 600;
      font-size: 20px;
    }
    .img-block {
      display: flex;
      background-color: #f1fbff;
      border-radius: 10px;
      padding: 20px;

      .bottom-img {
        overflow: hidden;
        position: relative;
        height: 300px;
        width: 300px;
        border-radius: 10px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          top: 0;
        }
      }
    }
  }
}
iframe {
  border-radius: 10px;
}
